.grid {
  $grid-width: 100%;
  max-width: 85%;
  @extend .clearfix;
  width: $grid-width;
  margin: auto;

  .unit {
    float:left;
    width:($grid-width/5);
    padding-left: 1em;
    padding-right: 1em;
    box-sizing: border-box;
  }

  .unit-span-2 {
    @extend .unit;
    width: ($grid-width/5) * 2;
  }

  .unit-span-3 {
    @extend .unit;
    width: ($grid-width/5) * 3;
  }


}
