.grid {
  $grid-width: 100%;
  max-width: 80%;
  background-color: lightgrey;
  outline: 2px solid red;
  @extend .clearfix;
  width: $grid-width;
  margin: auto;

  .unit {
    background-color: grey;
    outline: 2px solid purple;

    float:left;
    width:($grid-width/8);
    padding-left: 1em;
    padding-right: 1em;
    box-sizing: border-box;
  }

  .unit-span-2 {
    @extend .unit;
    width: ($grid-width/8) * 2;
  }

  .unit-span-4 {
    @extend .unit;
    width: ($grid-width/8) * 4;
  }

  .offset-2 {
    margin-left: ($grid-width/8) * 2;
  }
}
